<header class="flex justify-center">
    <nav class="pt-2" >
        <ul class="flex flex-row justify-center p-3 gap-5  max-sm:text-sm bg-purple-800/10  text-base rounded-full border border-[#dddf00] text-white font-bold">
            <li class="hover:text-[#dddf00]" ><a href="">Inicio</a></li>
            <li class="hover:text-[#dddf00]" ><a href="">Sobre Mi</a></li>
            <li class="hover:text-[#dddf00]" ><a href="">Experiencia</a></li>
            <li class="hover:text-[#dddf00]" ><a href="">Proyectos</a></li>
            <li class="hover:text-[#dddf00]" ><a href="">Contacto</a></li>
            
        </ul>
    </nav>
</header>
