<section id="proyectos" class="min-h-full max-h-full mx-auto max-w-screen-lg overflow-auto">
    <h1 class="text-center text-3xl text-white font-bold p-3">Mis Proyectos</h1>
    <div class="flex gap-2 gap-y-5 flex-wrap justify-around">
        <article class="max-w-sm hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s]">
            <div class="rounded-[10px] bg-transparent">
                <img class="rounded-[10px]" src="images/proyecto1.png" alt="">
                <div class="text-justify p-1">
                    <h2 class="text-center font-bold">Proyecto 1</h2>
                    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    
                </div>
                <div class="px-6 pt-4 pb-2">
                    <span class="inline-block bg-black rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">Angular</span>
                    <span class="inline-block bg-black rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">Tailwind</span>
                </div>
    
            </div>
        </article>
        <article class="max-w-sm hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s]">
            <div class="rounded-[10px] bg-white">
                <img class="rounded-[10px]" src="images/proyecto1.png" alt="">
                <div class="text-justify p-1">
                    <h2 class="text-center font-bold">Proyecto 1</h2>
                    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    
                </div>
                <div class="px-6 pt-4 pb-2">
                    <span class="inline-block bg-black rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">Angular</span>
                    <span class="inline-block bg-black rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">Tailwind</span>
                </div>
    
            </div>
        </article>
        <article class="max-w-sm hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s]">
            <div class="rounded-[10px] bg-white">
                <img class="rounded-[10px]" src="images/proyecto1.png" alt="">
                <div class="text-justify p-1">
                    <h2 class="text-center font-bold">Proyecto 1</h2>
                    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    
                </div>
                <div class="px-6 pt-4 pb-2">
                    <span class="inline-block bg-black rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">Angular</span>
                    <span class="inline-block bg-black rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">Tailwind</span>
                </div>
    
            </div>
        </article>
        <article class="max-w-sm hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s]">
            <div class="rounded-[10px] bg-white">
                <img class="rounded-[10px]" src="images/proyecto1.png" alt="">
                <div class="text-justify p-1">
                    <h2 class="text-center font-bold">Proyecto 1</h2>
                    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    
                </div>
                <div class="px-6 pt-4 pb-2">
                    <span class="inline-block bg-black rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">Angular</span>
                    <span class="inline-block bg-black rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">Tailwind</span>
                </div>
    
            </div>
        </article>
        <!-- <article class="max-w-sm hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s]">
            <div class="rounded-[10px] bg-white">
                <img class="rounded-[10px]" src="images/proyecto1.png" alt="">
                <div class="text-justify p-1">
                    <h2 class="text-center font-bold">Proyecto 1</h2>
                    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    
                </div>
                <div class="px-6 pt-4 pb-2">
                    <span class="inline-block bg-black rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">Angular</span>
                    <span class="inline-block bg-black rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">Tailwind</span>
                </div>
    
            </div>
        </article>
        <article class="max-w-sm hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s]">
            <div class="rounded-[10px] bg-white">
                <img class="rounded-[10px]" src="images/proyecto1.png" alt="">
                <div class="text-justify p-1">
                    <h2 class="text-center font-bold">Proyecto 1</h2>
                    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    
                </div>
                <div class="px-6 pt-4 pb-2">
                    <span class="inline-block bg-black rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">Angular</span>
                    <span class="inline-block bg-black rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">Tailwind</span>
                </div>
    
            </div>
        </article> -->
        
    </div>
</section>