<section id="proyectos" class="min-h-full mx-auto overflow-auto">
    <h2 class="text-center  text-[#dddf00] font-bold p-3">Mis Proyectos</h2>
    <div class="grid grid-cols-2 max-md:grid-cols-1 gap-4 max-md:p-2 max-md:py-5 ">
      <h3 class="text-[#dddf00] font-semibold  col-span-2 max-md:col-span-1">Proyecto 1</h3>
      <img class="col-span-1 row-span-3 rounded-lg " src="images/proyecto1.png" alt="">
      <div class="flex flex-col gap-2 font-semibold">
        <p class=" text-white text-base max-sm:text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus error veniam consequuntur iste necessitatibus alias magni atque, consectetur ea harum illum ipsam iure culpa, maxime corrupti ut sapiente, dolorum facere!</p>
          <h3 class="text-[#dddf00]  pt-2">Tecnologias usadas</h3>
          <div class="flex gap-2 max-sm">
            <span class="flex cursor-pointer relative px-0.5 justify-start items-center  text-white bg-[#c3002f]/30 rounded-xl border-2 border-gray-950"><img class="size-6" src="images/angular.svg" alt="">Angular</span>
            <span class="flex cursor-pointer relative px-0.5 justify-start items-center text-white bg-[#44a8b3]/30 rounded-xl border-2 border-gray-950"><img class="size-6" src="images/tailwind.svg" alt="">Tailwind</span>
            <span class="flex cursor-pointer relative px-0.5 justify-start items-center text-white bg-[#6d429c]/30 rounded-xl border-2 border-gray-950"><img class="size-6" src="images/dotnet.svg" alt="">.NET</span>
            <span class="flex cursor-pointer relative px-0.5 justify-start items-center text-white bg-[#41d0fd]/30 rounded-xl border-2 border-gray-950"><img class="size-6" src="images/flutter.svg" alt="">Flutter</span>
          </div>
        <div class="flex gap-2 pt-2  ">
          <span class="bg-gray-900 max-sm:text-sm rounded-3xl px-5 py-1 text-[#dddf00] cursor-pointer text-base border-2 border-[#dddf00]">Web</span>
          <span class="bg-gray-900 max-sm:text-sm rounded-3xl px-5 py-1 text-[#dddf00] cursor-pointer text-base border-2 border-[#dddf00]">Codigo</span>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 max-md:grid-cols-1 gap-4 max-md:p-2 max-md:py-5 ">
      <h3 class="text-[#dddf00] font-semibold  col-span-2 max-md:col-span-1">Proyecto 1</h3>
      <img class="col-span-1 row-span-3 rounded-lg " src="images/proyecto1.png" alt="">
      <div class="flex flex-col gap-2 font-semibold">
        <p class=" text-white text-base max-sm:text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus error veniam consequuntur iste necessitatibus alias magni atque, consectetur ea harum illum ipsam iure culpa, maxime corrupti ut sapiente, dolorum facere!</p>
          <h3 class="text-[#dddf00]  pt-2">Tecnologias usadas</h3>
          <div class="flex gap-2 max-sm">
            <span class="flex cursor-pointer relative px-0.5 justify-start items-center  text-white bg-[#c3002f]/30 rounded-xl border-2 border-gray-950"><img class="size-6" src="images/angular.svg" alt="">Angular</span>
            <span class="flex cursor-pointer relative px-0.5 justify-start items-center text-white bg-[#44a8b3]/30 rounded-xl border-2 border-gray-950"><img class="size-6" src="images/tailwind.svg" alt="">Tailwind</span>
            <span class="flex cursor-pointer relative px-0.5 justify-start items-center text-white bg-[#6d429c]/30 rounded-xl border-2 border-gray-950"><img class="size-6" src="images/dotnet.svg" alt="">.NET</span>
            <span class="flex cursor-pointer relative px-0.5 justify-start items-center text-white bg-[#41d0fd]/30 rounded-xl border-2 border-gray-950"><img class="size-6" src="images/flutter.svg" alt="">Flutter</span>
          </div>
        <div class="flex gap-2 pt-2  ">
          <span class="bg-gray-900 max-sm:text-sm rounded-3xl px-5 py-1 text-[#dddf00] cursor-pointer text-base border-2 border-[#dddf00]">Web</span>
          <span class="bg-gray-900 max-sm:text-sm rounded-3xl px-5 py-1 text-[#dddf00] cursor-pointer text-base border-2 border-[#dddf00]">Codigo</span>
        </div>
      </div>
    </div>    <div class="grid grid-cols-2 max-md:grid-cols-1 gap-4 max-md:p-2 max-md:py-5 ">
      <h3 class="text-[#dddf00] font-semibold  col-span-2 max-md:col-span-1">Proyecto 1</h3>
      <img class="col-span-1 row-span-3 rounded-lg " src="images/proyecto1.png" alt="">
      <div class="flex flex-col gap-2 font-semibold">
        <p class=" text-white text-base max-sm:text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus error veniam consequuntur iste necessitatibus alias magni atque, consectetur ea harum illum ipsam iure culpa, maxime corrupti ut sapiente, dolorum facere!</p>
          <h3 class="text-[#dddf00]  pt-2">Tecnologias usadas</h3>
          <div class="flex gap-2 max-sm">
            <span class="flex cursor-pointer relative px-0.5 justify-start items-center  text-white bg-[#c3002f]/30 rounded-xl border-2 border-gray-950"><img class="size-6" src="images/angular.svg" alt="">Angular</span>
            <span class="flex cursor-pointer relative px-0.5 justify-start items-center text-white bg-[#44a8b3]/30 rounded-xl border-2 border-gray-950"><img class="size-6" src="images/tailwind.svg" alt="">Tailwind</span>
            <span class="flex cursor-pointer relative px-0.5 justify-start items-center text-white bg-[#6d429c]/30 rounded-xl border-2 border-gray-950"><img class="size-6" src="images/dotnet.svg" alt="">.NET</span>
            <span class="flex cursor-pointer relative px-0.5 justify-start items-center text-white bg-[#41d0fd]/30 rounded-xl border-2 border-gray-950"><img class="size-6" src="images/flutter.svg" alt="">Flutter</span>
          </div>
        <div class="flex gap-2 pt-2  ">
          <span class="bg-gray-900 max-sm:text-sm rounded-3xl px-5 py-1 text-[#dddf00] cursor-pointer text-base border-2 border-[#dddf00]">Web</span>
          <span class="bg-gray-900 max-sm:text-sm rounded-3xl px-5 py-1 text-[#dddf00] cursor-pointer text-base border-2 border-[#dddf00]">Codigo</span>
        </div>
      </div>
    </div>
</section>