<section class="min-h-full mx-auto p-2 max-sm:p-5" id="experiencia">
  <h2 class="text-center text-[#dddf00] font-bold p-3 ">Experiencia</h2>
  <ol class="relative border-s border-gray-200 dark:border-[#dddf00]">                  
    <li class="mb-16 ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-white dark:bg-purple-400"></div>
        <time class="mb-1 text-sm font-medium leading-none text-gray-100 dark:text-gray-400">Enero 2024-Dic 2024</time>
        <h3 class="font-bold text-gray-900 dark:text-white">Desarrollador Practicante en Chilexpress.</h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">
            Desarrollo frontend con Typescript, Angular y Bootstrap. Integración de APIs, servicios de Azure, y desarrollo backend con C# y .NET. 
            Uso de SQL, metodología ágil scrum, y control de versiones con CI/CD. arquitectura de software por capas y DDD. 
            Documentación de aplicaciones y pruebas unitarias con Jest y Jasmine.
        </p>
    </li>
    <li class="mb-16 ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-white dark:bg-purple-400"></div>
        <time class="mb-1 text-sm font-medium leading-none text-gray-100 dark:text-gray-400">2023</time>
        <h3 class=" font-bold text-gray-900 dark:text-white">Ayudante de programación.</h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Clases de programación orientadas a los fundamentos de la programación y análisis de datos utilizando Python y Matlab para estudiantes de primer año en la Universidad Autónoma de Chile.</p>
    </li>
    <li class="mb-16 ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-white dark:bg-purple-400"></div>
        <time class="mb-1 text-sm font-medium leading-none text-gray-400 dark:text-gray-400">Julio 2023-Nov 2023</time>
        <h3 class=" font-bold text-gray-900 dark:text-white">Proyecto Universitario: Desarrolló de Videojuego para enseñar a niños de educación básica a reciclar.</h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Desarrollo de videojuego para dispositivos móviles utilizando Flutter.</p>
    </li>
    <li class="mb-16 ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-white dark:bg-purple-400"></div>
        <time class="mb-1 text-sm font-medium leading-none text-gray-400 dark:text-gray-400">Enero 2023-Junio 2023</time>
        <h3 class=" font-bold text-gray-900 dark:text-white">Proyecto Universitario: Sweetcake.</h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Aplicación Movil para la administración de una pastelería,Mi rol fue principalmente la creación de la API utilizando Django con PostgreSQL con BD, ademas la aplicación de providers en la aplicación Movil. </p>
    </li>
    <li class="ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-white dark:bg-purple-400"></div>
        <time class="mb-1 text-sm font-medium leading-none text-gray-400 dark:text-gray-400">Julio 2022-Dic 2022</time>
        <h3 class=" font-bold text-gray-900 dark:text-white">Proyecto Universitario: Asistencia UDEM.</h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Plataforma web para la toma de asistencia de docentes en la Universidad de Monterrey. </p>
    </li>
</ol>
</section>
