<main id="inicio"
  class="flex justify-start pb-56 items-center min-h-full max-h-full mx-auto max-w-screen-lg text-white "
>
  <div class="flex-col">
    <h1 class="font-semibold text-4xl">Hola! me llamo</h1>
    <p class="text-6xl font-semibold">Nicolas Sanchez,</p>
    <p class="text-3xl font-medium bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text">
      Ingeniero Civil en Informatica.
    </p>
    <div class="flex gap-5 py-3">
      <a href=""><img class="size-10" src="images/github.svg" alt=""></a>
      <a href=""><img class="size-11" src="images/linkedin.svg" alt=""></a>
      <a href=""><img class="size-11" src="images/gmail.svg" alt=""></a>
      <div class="px-10">
        <a
          class="group rounded-lg relative inline-block overflow-hidden border self-end border-indigo-600 px-8 py-2 focus:outline-none focus:ring hover:text-indigo-200"
          href="#"
        >
          <span
            class="absolute inset-x-0 bottom-0 h-[2px] bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 transition-all group-hover:h-full "
          ></span>
          
          <span
            class="relative text-sm font-medium text-indigo-600 transition-colors "
          >
            Descargar CV
          </span>
        </a> 

      </div>
    </div>
  </div>
</main>
