<main id="inicio"
  class="flex md:justify-start justify-center items-center min-h-full max-h-full mx-auto text-white "
>
  <div class="flex flex-col px-2 items-start max-sm:items-center max-md:items-center ">
    <h1 class="font-semibold text-6xl max-sm:text-4xl max-md:text-4xl">Hola! 👋  </h1>
    <p class="text-7xl  font-semibold max-sm:text-4xl max-md:text-5xl">Soy Nicolas Sanchez,</p>
    <p class="text-5xl max-sm:text-2xl max-md:text-4xl font-medium bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text">
      Ingeniero Civil en Informatica.
    </p>
    <div class="flex max-md:flex-wrap justify-center gap-5 py-12">
      <a data-tooltip-target="tooltip-github" (click)="abrirGithub()" class="cursor-pointer"><img class="max-md:size-16 size-10" src="images/github.svg" alt=""></a>
      <a data-tooltip-target="tooltip-linkedin" (click)="abrirLinkedin()" class="cursor-pointer"><img class="max-md:size-16 size-11" src="images/linkedin.svg" alt=""></a>
      <a data-tooltip-target="tooltip-correo" (click)="copiarCorreo()" class="cursor-pointer"><img class="max-md:size-16 size-11" src="images/gmail.svg" alt=""></a>
      <div class="w-full md:w-auto px-10 mt-4 md:mt-0 text-center">
        <a
          class="group rounded-lg relative  inline-block overflow-hidden border self-end border-indigo-600 px-8 py-2 focus:outline-none focus:ring hover:text-indigo-200"
          href="#"
        >
          <span
            class="absolute inset-x-0 bottom-0 h-[2px] bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 transition-all group-hover:h-full "
          ></span>
          
          <span
            class="relative text-lg max-md:text-xl font-medium hover:text-white text-indigo-600 transition-colors  "
          >
            Descargar CV
          </span>
        </a> 
        
      </div>
    </div>
  </div>
</main>

<div id="tooltip-github" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
  Github
  <div class="tooltip-arrow" data-popper-arrow></div>
</div>
<div id="tooltip-linkedin" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
  Linkedin
  <div class="tooltip-arrow" data-popper-arrow></div>
</div>
<div id="tooltip-correo" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
  Copiar Correo
  <div class="tooltip-arrow" data-popper-arrow></div>
</div>